<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.exportFounderML.nodeMapper">

	<resultMap id="relatedMap" type="relatednode">
		<result property="linktitle" column="title" />
		<association property="nodePath" column="nodeid" javaType="string"
			select="selectNodePath" />
	</resultMap>
	
	<resultMap id="nodeMap" type="node">
		<result property="TargetNodeId" column="TargetNodeId" />
		<association property="TargetNode" column="nodeid" javaType="string"
			select="selectNodePath" />
	</resultMap>
	
	<select id="selectNode" parameterType="articleToken" resultMap="nodeMap">
	<![CDATA[
	select 0 as TargetNodeId,
	nodeid
	from pagelayout 
	where articleid=#{articleid} 
	and nodeid=#{nodeid}
	]]>
	</select>
	
	<select id="selectNodePath" resultType="string">
	<![CDATA[
	select LTRIM(MAX(SYS_CONNECT_BY_PATH(nodename, '~'))
                         KEEP(DENSE_RANK LAST ORDER BY rownum),
                         ',') AS TargetNode
              from typestruct
             start with nodeid =#{nodeid}
            connect by prior parentid = nodeid
	]]>
	</select>
	
	<select id="selectRelatedNode" parameterType="string" resultMap="relatedMap">
	<![CDATA[
	select *
	from pagelayout
	where articleid=#{articleid}
	and masterid<>nodeid
	]]>
	</select>
	
	<select id="selectOperation" parameterType="articleToken" resultType="operation">
	select 1 as Action,
	1 as ArticleType,
	'XinhuanetCMS' as SourceSystem,
	approvalstate as PublishState,
	1 as ObjectType,
	2 as TargetLib
	from pagelayout
	where articleid=#{articleid}
	and nodeid=#{nodeid}
	</select>
	
</mapper>