<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.founder.exportFounderML.articleMapper">


	<resultMap id="articleMap" type="article">
		<result property="Abstract" column="abstract" />
		<result property="Attr" column="attr" />
		<result property="Author" column="author" />
		<result property="Content" column="content" />
		<result property="DocID" column="articleid" />
		<result property="Editor" column="editor" />
		<result property="Importance" column="importance" />
		<result property="Introtitle" column="introtitle" />
		<result property="JabbarMark" column="importmark" />
		<result property="keyword" column="keyword" />
		<result property="Liability" column="liability" />
		<result property="Multiattach" column="multiattach" />
		<result property="Nsdate" column="pubtime" />
		<result property="piccount" column="piccount" />
		<result property="piclink" column="piclinks" />
		<result property="Source" column="sourcename" />
		<result property="SourceUrl" column="sourceurl" />
		<result property="Subtitle" column="subtitle" />
		<result property="Title" column="title" />
		<result property="Url" column="url" />
		<result property="WordCount" column="wordcount" />
		<association property="DisplayOrder"
			column="{articleid=articleid,nodeid=masterid}" javaType="_double"
			select="selectDisplayorder" />
		<association property="LinkTitle"
			column="{articleid=articleid,nodeid=masterid}" javaType="string"
			select="selectLinkTitle" />
	</resultMap>


	<select id="selectArticleIDS" resultType="articleToken">
	<![CDATA[
	select articleid from releaselib where doxml=0 and articleid=232063
	]]>
	</select>

	<select id="selectArticleInfo" parameterType="articleToken" resultMap="articleMap">
	<![CDATA[
	select * from releaselib where articleid=#{articleid}
	]]>
	</select>


	<select id="selectDisplayorder" parameterType="pagelayout"
		resultType="_double">
	<![CDATA[
	select displayorder from pagelayout where articleid=#{articleid} and nodeid=#{nodeid}
	]]>
	</select>
	<select id="selectLinkTitle" parameterType="pagelayout"
		resultType="string">
	<![CDATA[
	select title from pagelayout where articleid=#{articleid} and nodeid=#{nodeid}
	]]>
	</select>
	<update id="setDOXML" parameterType="articleToken">
	<![CDATA[
		update releaselib
		set doxml=1
		where articleid=#{articleid}
	]]>
	</update>

</mapper>